* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .register_success {
    color: greenyellow;
    text-align: center;
    font-size: 35px;
    margin: 30px;
  }
  .password_mismatch {
    color: red;
    text-align: center;
    font-size: 35px;
    margin: 30px;
  }
  
  html {
    font-size: 10px;
    font-family: "Roboto Cn", sans-serif;
  }
  
  header {
    width: 100%;
    height: 100vh;
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.8),
        rgba(22, 15, 1, 0.795)
      ),
      url("https://t3.ftcdn.net/jpg/03/50/64/40/360_F_350644095_ZtIo5lqaaBSeIXBxQVvgy9L1lQqcwCUM.jpg")
        center no-repeat;
    background-size: cover;
    position: relative;
  }
  
  .container {
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
  }
  
  nav {
    padding-top: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.6rem;
  }
  
  .brand {
    font-size: 5rem;
    font-weight: 300;
  }
  .brand:hover {
    transform: scale(1.3);
    transition: all 0.5s;
  }
  
  .brand span {
    color: crimson;
    text-decoration: none;
  }
  .brand a {
    text-decoration: none;
    color: white;
  }
  
  nav ul {
    display: flex;
  }
  
  nav ul li {
    list-style: none;
  }
  
  nav ul li a {
    padding: 1rem 0;
    margin: 0 3rem;
    position: relative;
    letter-spacing: 2px;
    font-size: 2rem;
    text-decoration: none;
    color: white;
  }
  nav ul li a:hover {
    color: crimson;
  }
  
  nav ul li a:last-child {
    margin-right: 0;
  }
  
  nav ul li a::before,
  nav ul li a::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: white;
    left: 0;
    transform: scaleX(0);
    transition: all 0.5s;
  }
  
  nav ul li a::before {
    top: 0;
    transform-origin: left;
  }
  
  nav ul li a::after {
    bottom: 0;
    transform-origin: right;
  }
  
  nav ul li a:hover::before,
  nav ul li a:hover::after {
    transform: scaleX(1);
  }
  
  /* homepage style */


.homepage_heading {
    text-align: center;
    color: white;
    font-family: "Times New Roman", Times, serif;
    font-size: 50px;
    text-shadow: 3px 3px 5px rgb(252, 115, 142);
    margin-top: 40px;
  }
  .subheading {
    text-align: center;
    color: rgb(245, 211, 18);
    font-family: "Times New Roman", Times, serif;
    margin-top: 20px;
    margin-bottom: 35px;
    font-size: 30px;
  }

  #grid {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-evenly;
    padding: 20px;
  }

  .column1 {
    background: linear-gradient(
        to bottom,
        rgba(167, 110, 3, 0.897),
      rgb(68, 10, 42)
      ),
      url("https://lh5.googleusercontent.com/proxy/WrnfY8H4zt_A-7AjR5DmgeIFc_N3sxIuvjm5nEAiTc1HkKOI7NxXcrXxs2Z9U5zVsiFyBWJU9Zs8EXSM25vZWZrDoLP5by6e_lYygG7yj0Tp-3I5qYeDfes5vBIMFlAD=w1200-h630-p-k-no-nu")center no-repeat;
    
    width: 450px;
    height: 400px;
    border-radius: 30px;
    padding:30px;
  }
  .column2 {
    background: linear-gradient(
        to bottom,
        rgba(1, 211, 106, 0.87),
      rgba(6, 68, 6, 0.801)
      ),
      url("https://t4.ftcdn.net/jpg/01/08/04/03/240_F_108040383_gS39RHsUrgQOVa2BFW8010GsKI6gUeS1.jpg");
    width: 450px;
    height: 400px;
    border-radius: 30px;
    padding:30px;
  }
  .column3 {
    background: linear-gradient(
        to bottom,
        rgba(51, 139, 151, 0.966),
      rgba(1, 21, 37, 0.973)
      ),
      url("https://www.teahub.io/photos/full/50-503419_cute-chemistry-wallpaper-typography-cute-chemistry-background.jpg")center no-repeat;
    width: 450px;
    height: 400px;
    border-radius: 30px;
    padding:30px;
  }
  

  .quiz-heading{
      color: white;
      font-size:35px;
      text-align: center;
      padding-top: 20px;
  }
  .listitem{
      padding:30px;
  }

  li{
      color:white;
      font-size:25px;
      margin-top: 10px;
  }

  input[type="submit"] {
    width: 60%;
    height: 40px;
    border-radius: 10px;
    border: none;
    background: #ce0303;
    cursor: pointer;
    font-size: 18px;
    color: white;
    margin-left:60px;
    margin-top: 40px;
  }
  input[type="submit"]:hover{
    background: #850b04;
  }